/* =========================================================
   ABOUT.CSS
   INDEX:
   1. About Section
   2. About Boxes Section
   3. Middle About Section
   4. Status About Section
   5. Media Queries
      5.1 Max-width: 1279px
      5.2 Max-width: 1200px
      5.3 Max-width: 992px
      5.4 Max-width: 820px
      5.5 Max-width: 768px
      5.6 Max-width: 480px
========================================================= */

/* ==================== 1. About Section ==================== */
.about {
  max-width: 100vw;
  overflow-x: hidden;
}

.about .about-bg {
  width: 100%;
  min-height: 70vh;
  /* background-image: url(assets/images/about-bg.svg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px 0;
  overflow: hidden;

  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    #d0e291 35%,
    #e9f4d0 65%,
    #fcfdf7 85%,
    #ffffff 100%
  );
}

html[dir="ltr"] .about-bg {
  background: linear-gradient(
    225deg,
    var(--primary-color) 0%,
    #d0e291 35%,
    #e9f4d0 65%,
    #fcfdf7 85%,
    #ffffff 100%
  );
}

.about .about-bg img {
  position: absolute;
  left: 0;
  top: 65%;
  transform: translateY(-50%);
  min-width: 70%;
  max-width: 900px;
  opacity: 0.2;
  pointer-events: none;
}

.about .breadcrumb {
  background-color: transparent !important;
  margin-top: -100px;
  text-align: right;
}

.about .about-title h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-black);
  margin: 0 auto;
  width: 70%;
}

.about .about-title h1 span {
  color: var(--primary-color);
}

/* ==================== 2. About Boxes Section ==================== */
.about .about-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: stretch;
  margin-top: -100px;
  margin-bottom: 80px;
  position: relative;
  z-index: 10;
}

.about .about-boxes .box {
  background-color: var(--main-white);
  border: var(--border-1);
  border-radius: var(--border-r-8);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  min-height: 240px;
  padding: 24px;
  transition: transform var(--main-transition) ease-in-out;
}

.about .about-boxes .box:hover {
  transform: translateY(-6px);
}

.about .about-boxes .box .icon-box {
  background-color: #f2f2f2;
  width: 54px;
  height: 54px;
  border-radius: var(--border-r-8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-boxes .box .icon-box img {
  width: 30px;
  height: 30px;
}

.about .about-boxes .box h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: var(--main-black);
}

.about .about-boxes .box p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  color: var(--main-gray);
}

/* ==================== 3. Middle About Section ==================== */
.middle-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  gap: 1rem;
}

.middle-about aside {
  flex: 0 0 50%;
}

.middle-about .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: var(--border-r-8);
  max-width: 542px;
  height: 575px;
}

.middle-about img {
  max-width: 530px;
  max-height: 424px;
  display: block;
  margin-inline-end: 150px;
}

/* ==================== 4. Status About Section ==================== */
.status-about {
  margin: 0 auto 80px auto;
  border-radius: var(--border-r-16);
  box-shadow: var(--shadow-lg);
}

/* ==================== 5. Media Queries ==================== */

/* ----- 5.1 Max-width: 1279px ----- */
@media (max-width: 1279px) {
  .middle-about {
    margin-bottom: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .middle-about aside {
    flex: 0 0 100%;
  }

  .middle-about .img-box {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 24px;
    margin: 0;
  }

  .middle-about img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    object-fit: cover;
    border-radius: var(--border-r-8);
  }
}

/* ----- 5.2 Max-width: 1200px ----- */
@media (max-width: 1200px) {
  .about .about-title h1 {
    font-size: 48px;
    width: 90%;
  }

  .about .about-boxes {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -100px;
  }

  .about .about-boxes .box:last-child {
    grid-column: span 2;
  }

  .about .breadcrumb {
    margin-top: 0px;
  }
}

/* ----- 5.3 Max-width: 992px ----- */
@media (max-width: 992px) {
  .about .about-bg {
    min-height: 60vh;
  }

  .about .about-title h1 {
    font-size: 42px;
    line-height: 1.6;
  }

  .about .about-boxes {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    margin-top: -50px;
  }

  .about .about-boxes .box:last-child {
    grid-column: span 1;
  }

  .about .breadcrumb {
    margin-top: 20px;
  }
}

/* ----- 5.4 Max-width: 820px ----- */
@media (max-width: 820px) {
  .about .about-boxes {
    margin-top: -120px;
  }
}

/* ----- 5.5 Max-width: 768px ----- */
@media (max-width: 768px) {
  .about .about-bg {
    min-height: 50vh;
    padding: 40px 0;
  }

  .about .about-title h1 {
    font-size: 34px;
    width: 95%;
  }

  .about .about-boxes {
    margin-top: -120px;
  }

  .about .about-boxes .box {
    width: 100%;
    max-width: none;
    border-radius: var(--border-r-8);
  }

  .about .breadcrumb {
    margin-top: -50px;
  }
}

/* ----- 5.6 Max-width: 480px ----- */
@media (max-width: 480px) {
  .about .breadcrumb {
    margin-top: 40px;
  }

  .about .about-title h1 {
    font-size: 34px;
    line-height: 1.8;
  }

  .about .about-boxes {
    margin-top: 50px;
  }

  .about .about-boxes .box {
    width: 100%;
    padding: 20px;
  }
}
