/* -------------------------------------------------- */
/* 🟢 LAYOUT & UTILITY CLASSES */
/* -------------------------------------------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-btn {
  height: 48px;
  min-width: 130px;
  padding: 0 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--main-white);
  font-weight: 600;
  transition: background-color 0.35s ease, color 0.35s ease;
}

.main-btn:hover {
  background-color: var(--hover-btn-bg);
}

