/* -------------------------------------------------- */
/* 游릭 LAYOUT & UTILITY CLASSES */
/* -------------------------------------------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* -------------------------------------------------- */
/* 游릭 BUTTONS */
/* -------------------------------------------------- */

.main-btn {
  height: 48px;
  min-width: fit-content;
  width: 100%;
  padding: 0 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--main-white);
  font-weight: 600;
  transition: background-color 0.35s ease, color 0.35s ease;
}

.main-btn i {
  font-size: 20px;
  margin: 0 8px;
}

.main-btn:hover {
  background-color: var(--hover-btn-bg);
}

/* -------------------------------------------------- */
/* 游릭 CARDS*/
/* -------------------------------------------------- */

.card-style {
  border: var(--border-1);
  border-radius: var(--border-r-8);
  background-color: var(--main-white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  max-width: 384px;
  min-height: 404px;
}

.card-style .img-container {
  position: relative;
}

.card-style .img-container > div {
  position: absolute;

  & i {
    font-size: 20px;
  }
}

.card-style .like-icon {
  inset-inline-end: 8px;
  top: 8px;
  width: 33px;
  height: 33px;
  background-color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;

  & i {
    color: var(--main-gray);
    transition: color var(--main-transition) ease-in-out;
  }
  & i:hover {
    color: var(--primary-color);
  }
}

.card-style .cap-icon {
  inset-inline-start: 8px;
  top: 8px;
  width: fit-content;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
}

.card-style img {
  width: 100%;
  min-height: 192px;
  border-radius: var(--border-r-8);
  object-fit: cover;
}

.card-style .card-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-black);
}

.card-style .badge-title {
  width: fit-content;
  height: 32px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  font-family: "Cairo";
  padding: 5px 16px;
  text-align: start;
  border-radius: 4px;
  margin-top: 16px;
}

.card-style .card-description {
  margin-bottom: 0;
  color: var(--main-gray);
  font-size: 16px;
  font-weight: 400;
}

.card-style .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-style .card-body .info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: var(--main-gray);
}

.card-style .card-body .info .v-line {
  height: 70%;
  color: #e5e5e5;
}

.card-style .card-body .info div {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}

.card-style .card-body .price {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.card-style .card-body .price-label {
  font-size: 16px;
  font-weight: 400;
  color: var(--main-gray);
  line-height: 20px;
}

.card-style .card-body .price-value {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-black);
}

.card-style button {
  width: 100%;
  display: block;
  margin-top: auto;
}

.card-style button a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-style button i {
  margin: 0 8px;
  font-size: 18px;
}

/* -------------------------------------------------- */
/* 游릭 ARROWS */
/* -------------------------------------------------- */

html[dir="ltr"] .arrow-dir {
  transform: rotate(180deg);
}
